@charset "utf-8";
/* CSS Document */
body
{
background:#eff2f4;
}
.wrapper
{
width:80%;
margin:0 auto;
}
.box
{
width:100%;
height:auto;
border:2px solid #fff;
background:#eff2f4;
margin-top:50px;
padding-bottom:50px;
}
.danger
{
width:100%;
height:83px;
margin-top:25px;
font-size:40px;
color:#FF0000;
text-align:center;
}
.danger img
{
width:304px;
height:100px;
}

.danger1
{
width:100%;
height:163px;
font-size:40px;
color:#FF0000;
text-align:center;
}
.danger1 img
{
width:80%;
height:213px;
}

.cont
{
width:100%;
text-align:center;
color:#f42d00;
font-size:36px;
}
.cont1
{
width:100%;
text-align:center;
color:#f42d00;
font-size:30px;
}
.msg
{
width:100%;
color:#161616;
margin-top:17px;
}
.msg h2
{
text-align:center;
margin:0px;
padding:0px;
}
.msg p
{
text-align:center;
padding:5px 70px;
}
.blow
{
width:100%;
height:37px;
text-align:center;
margin-top:30px;
}
.blow ul li{list-style:none; padding:5px 10px; background:#7a7a7a; color:#fff; display:inline-block;}
.blow ul{margin:0px; padding:0px;}
.blow li a{text-decoration:none; color:#fff;}
.blow ul li:hover{background:#FF0000;}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	
	
	
	
@media (max-width:767px) {
.wrapper { width:90% !important; }
}
	

