@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'pt_sansregular';
    src: url('../font/pts55f-webfont.eot');
    src: url('../font/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pts55f-webfont.woff') format('woff'),
         url('../font/pts55f-webfont.ttf') format('truetype'),
         url('../font/pts55f-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




body { margin:0; padding:0;  width:100%; height:100%; background:#eff2f4; font-family: 'pt_sansregular'; font-size:15px; }
.bg_girl { width:190px; height:740px; position:absolute; z-index:-1; right:30px; top:332px; }
.index { background:url(../images/body_bg.jpg) right top; }
h1, h2, h3, h4, h5, h6, p, ul { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { letter-spacing:1px; font-weight:bold; }


a { text-decoration:none; }
a:hover { text-decoration:none; color:#f42d00; }
a img { border:none; }
.body_bg { position:absolute; width:100%; z-index:-1; }
img { vertical-align:inherit; }

.header_search input:focus { outline: none !important; }

::-webkit-input-placeholder {color: #a9a9a9;}
:-moz-placeholder { /* Firefox 18- */color: #a9a9a9; }
::-moz-placeholder {  /* Firefox 19+ */ color: #a9a9a9; }
:-ms-input-placeholder { color: #a9a9a9; }


.container { width:1180px; height:auto; margin:0 auto; padding:0 10px;  }
.clearfix { clear:both; }

.index_head { float:right; margin-top:6px; }

.account_btn { background:#fff; border:none; padding:2px 25px 5px; height:30px; font-size:16px; border-radius:5px; margin-right:20px; float:left; color: #161616; line-height: 30px; }
.search_field { background:#fff; border:none; width:90%; height:100%; border-radius:5px 0 0 5px; padding:0 0 0 2%;top:-2px; float:left; font-size:20px; }
.search_btn { background:url(../images/index_ic_search_btn.png) no-repeat center #fff; border:none; width:10%; height:100%; border-radius:0 5px 5px 0; float:left; border-left: 1px solid #d7d8d9; }
.search_btn:hover { background:url(../images/ic_search_btn_hover.png) no-repeat center #fff;}
.index_head .search_btn {border-left:1px solide #d7d8d9 !important;}
.center_content { margin-top:100px; text-align:center; }
.center_content h1{ font-size: 22px; color:#fff; font-weight:normal; line-height:30px; margin-top:30px; }
.index_app_download { width:520px; padding:0; margin:0 auto; }
.index_app_itune:hover, .index_app_android:hover { opacity:0.9;}
.index_transparent { color:#fff; font-size:15px; padding:50px 0;} 
.index_views {text-align:center; font-size:20px; color:#fff; margin:40px auto 0; width:605px; float:none; }
.index_transparent h3 { margin:10px 0; font-size:18px;}
.index_transparent .top60 { margin-top:60px; }
.index_slide { width:200px; height:370px; background:url(../images/index_phone.png); display:inline-block; }
#topMobileSlideshow { margin-top:39px; margin-left:14px; }

.search_hint { width:240px; background:#fff; position:absolute; margin-top:39px; margin-left:153px; border-radius:5px; border:1px solid #cdcdcd; } 
.search_hint_inner {display:none; width:240px; margin-top:51px; margin-left:0; }
.top_tringle { width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #e5e5e5 transparent; top:-10px; position:relative; left:203px; }
.search_hint ul { margin:-10px 0 0 0; padding:0; }
.search_hint ul li { line-height:35px; list-style:none; padding:5px; text-align:left; border-bottom:1px dotted #e5e5e5; }
.search_hint ul li:hover { background:#e5e5e5; cursor:pointer; }
.search_hint_img { width:35px; height:35px; float:right; }
.search_hint_img img { width:100%; height:100%; }


/* ============================ Footer =================================*/
footer { background:#161616; color:#fff; padding:15px 0;}
footer h1 { font-size:17px; font-weight:bold; margin-bottom:10px; border-bottom:2px solid #fff; width:150px; transition:0.3s; display:inline-block; padding:0 0 5px 0; }
footer ul { margin:10px 0 0 0; border-left:1px solid #1d1d1d; padding:20px 90px; text-align:center; }
footer ul li { list-style:none; line-height:25px; text-align:left;}
footer ul li a { color:#fff; }
footer ul li a:hover { color:#f42d00; text-decoration:none; }
footer ul li a.active { color:#f42d00; }
.footer_mobile { display:none; }.subscribe { margin-top:20px; line-height:22px;}
.sub_email { color:#000; font-size:14px; width:100%; height:33px; border:1px solid #333; border-radius:3px; background:#fff; overflow:hidden; text-align:center; }
.subscribe_btn { width:100%; border:none; padding:5px 0; margin-top:10px;
font-size: 16px;
color: #fff;
background: #7a7a7a;
border-radius: 5px;
}

.subscribe_btn:hover { background:#5a5858; color:#f42d00}
footer ul:hover h1 { width:100%; cursor:pointer; border-bottom:2px solid #f42d00; }



/* ===================== Social Icons ================================*/
 #facebook, #twitter, #google { width:120px; height:30px; padding:3px 0 3px 5px; margin:3px 0; position:relative;  -webkit-transition:left 1s; For Safari 3.1 to 6.0 transition:left 1s;  }
 /*
#facebook { background-image: url(../images/New folder/share_facebook.png) no-repeat; }
#twitter { background: url(../images/ic_t.png) no-repeat right center #3f5e7b; border-right:3px solid #203d57;  }
#google { background: url(../images/ic_g.png) no-repeat right center #f63e28; border-right:3px solid #d42a16; }

#facebook:hover, #twitter:hover, #google:hover { left:0; } */
#facebook { background: url(../images/facebook1.png) no-repeat;  }
#twitter { background: url(../images/tumblrnew.png) no-repeat;  }
#google { background: url(../images/g+new.png) no-repeat; }


.social_icon { position:absolute; z-index:10; top:0; left:0; top:50px; }


/* ======================= Header =============================*/
header { width:100%; background:#161616; padding:5px 0;  height:50px; z-index:20; left:0; }
.header_logo { float:left; margin-left:215px; }
.top_menu { float:left; margin:11px 0 0 114px; position:relative;}
.top_menu li { float:left; list-style:none; margin:0 10px }
.top_menu li a { font-size:16px; color:#fff; padding:8px 20px; background:#7a7a7a; border-radius:5px; }
.top_menu li a:hover { color:#f42d00; background:#5a5858; }
.top_menu li a.active { color:#f42d00; background:#5a5858; }
.header_right { float:right; }
.header_search_field, .header_search_btn { width:200px; border:none; background:#7a7a7a; height:35px; margin-top:7px; float:left; padding:0 5px; color:#fff; }
.header_search_field {border-radius:5px 0 0 5px; }
.header_search_btn { width:40px; background:url(../images/ic_search_btn.png) #7a7a7a no-repeat center; border-radius:0 5px 5px 0; border-left:1px solid #636363;  }
.header_search_btn:hover { width:40px; background:url(../images/ic_search_btn_hover.png) #7a7a7a no-repeat center;  }
.avatar_btn { float:left; margin:0px 0 0 30px; color:#fff; line-height:40px; height:40px;  }
.avatar {padding:5px; float:left; height:40px; width:40px; margin-right:5px; }
.user_name { float:left;}
.avatar img { width:100%; height:100%; }
.avatar:hover { background:#000; }

.avatar_btn:hover {padding-top:79px;cursor:default;z-index:9999;position:fixed;}
.avatar_btn:hover .avatar{margin-top:-79px;}
.avatar_btn:hover .user_name{margin-top:-79px;margin-left:50px;}
 .avatar_btn:hover .user_option { display:block; } 
.user_option { display:none; width:300px; height:auto; background:#fff; position:relative; top:-34px; border:7px solid #2d2d2d; border-radius:0 0 7px 7px; border-top:none; z-index:22; right:124px; }
.user_option h1{ background:#2d2d2d; font-size:15px; padding:5px; box-shadow:0px 0px 2px 0px #000; -webkit-box-shadow:0px 0px 2px 0px #000; }
.user_option li { list-style:none; border-bottom:1px solid #dedede; color:#161616; line-height:40px;}
.user_option li:last-child { border:none; }
.user_option li img { width:auto; vertical-align:middle; margin-right:10px; margin-left:5px; }
.user_option li a {display:block; color:#161616; font-size:14px; padding:0 5px; }
.user_option li:hover { color:#f42d00; }
.user_option li:hover a { color:#f42d00; }
.user_option li a:hover {cursor:pointer; color:#f42d00; text-decoration:underline; }
.logout { float:right;}
.logout:hover {text-decoration:underline; }


/* ========================== Navigation Bar ============================= */
.navigation_bar { width:100%; height:50px; background:#fff; border-bottom:1px solid #e0e0e0; position:fixed; z-index:19;}
.navigation_bar .navbar-default { background:none; border:none; box-shadow:none; float:left; }
.navigation_bar .main_menu { padding:0; float:left;}
.navigation_bar .main_menu li { list-style:none; float:left; height:50px; line-height:50px; }
.navigation_bar .main_menu li a:first-child { padding-left:0; margin-left:0; }
.navigation_bar .main_menu a { font-size:18px; color:#161616 !important; padding:0; margin:15px 45px; letter-spacing:1px; }
.navigation_bar .main_menu a:hover { color:#f42d00 !important; }
.navigation_bar .main_menu a.active { color:#f42d00 !important; }


.social_link { float:left; height:30px; margin-top:10px; }
.social_link ul li { float:left; list-style:none; padding:0px 30px; }
.social_link ul li:first-child { padding-left:0; }
.social_link ul li:last-child { margin-right:0; }
.res_search { display:none; }
.social_link li a:hover {opacity:0.8; }

/* ============================ Categories =================================*/
.categories { background:#fff; margin-top:7px; padding:10px 0px 0; box-shadow:0px 1px 2px 1px #CCC; -webkit-box-shadow:0px 1px 2px 1px #CCC; -moz-box-shadow:0px 1px 3px 1px #CCC; }
.categories h1, .popular_tag h1 { font-size:15px; font-weight:bold; margin-bottom:10px; text-align:center; border-bottom:2px solid #999; width:42%; display:inline-block; padding:0 0 5px 0; transition:0.5s;}
.categories li { list-style:none; border-bottom:1px solid #dedede; }
.categories li:last-child { border-bottom:none;}
.categories li a { color:#161616; display:block; padding: 5px 15px 2px;  cursor: pointer;}
.categories li:hover { text-decoration:underline; }
.categories li a:hover { color:#f42d00; }
.categories .categories_like { float:right; }

/* ================================ Story =================================*/
.content { position:relative; /*top:100px;*/ /*padding-top:50px; */margin-bottom:10px; }
.story_box { margin-top:3px; padding:0; color:#fff; padding-right:5px; min-height:400px;}
.story_box_img { position:absolute; z-index:1; opacity:0.3; width:100%; }
.story_box a { color:#fff; }
.story_box a:hover { color:#f42d00; cursor:pointer;}
.story_box .col-lg-6 { padding:0; width:49.1%;}
.story_box .col-lg-3 { width:24%; margin:5px 0.5%; padding:0; height:190px; overflow:hidden;  box-shadow: 0px 0px 3px 1px #5f5f5f; -webkit-box-shadow: 0px 0px 3px 1px #5f5f5f; }
.story_box_1 { background:#EB0A0A; height:190px; margin:5px 3px 0 4px; box-shadow: 0px 0px 3px 1px #5f5f5f; -webkit-box-shadow: 0px 0px 3px 1px #5f5f5f; }
.story_box_1 h2 { margin:5px 0; font-size:24px; }
.post_date { background:#161616; width:auto; padding:2px 5px 0px 5px; text-transform:uppercase; position:relative; z-index:2; font-size:13px; float:left; }
.post_date .ic_type {padding:0 5px; float:right; border-left:1px solid #333; display:none; }
.bottom_like {background:#161616;padding:4px 5px 0px; position:absolute; width:100%; bottom:0; left:0; z-index:2;}
.ic_like { float:left; }
.ic_comment { float:right; }
.ic_like img, .ic_comment img{ margin-right:10px; margin-top:5px; }
.story_box h3 { font-size:23px; display:inline; background-color:#efd5fc; color:#787878; position:relative; top:10px; z-index:2; }

.overlay h4{ padding:5px 10px; }
.overlay p{ padding:3px 10px ; }
.overlay a img { display:block; margin-bottom:3px; }
.overlay a img:hover { opacity:0.8; }
.img:hover .post_date, .img:hover h3 { display:none; }
.read_btn {margin:20px 0 0 10px; background:#f42d00; padding:5px 8px; border-radius:3px; }
.read_btn:hover { background:#cd2803; color:#fff !important; }

.color_1 { background:#9B9B9B; }
.color_2 { background:#e18faa;}
.color_3 { background:#70daf3; }
.color_4 {background:#4a9933;}
.color_5 {background:#cb9e59;}
.color_6 {background:#850000;}
.color_7 {background:#eb5d4c;}
.color_8 {background:#8da243;}
.fetaured_post{background:#EB0A0A;}

.responsive_cat { display:none; }





.js .slicknav_menu { position: fixed; z-index: 21; padding: 0; top: 45px; /*width:100%;*/ left:0; }
.slicknav_menu { background:none; }
.slicknav_nav { background:#fff; width:94%; margin:10px 3%; border: 7px solid #2d2d2d; border-radius: 0 0 7px 7px; }
.slicknav_nav li a { color:#161616; }
.slicknav_btn { margin:0; background:none; float:left; }
.slicknav_menu .slicknav_icon-bar { background:#000; }
.slicknav_nav { position:absolute; width:300px; top:20px; }



/* =============================== Login PopUp =============================== */
.login_popup { text-align:center; padding:20px 50px 10px; width:380px; color:#828282;}
.login_popup h2 { font-size:20px; color:#828282; margin-bottom:30px; font-weight:bold; }
.login_popup p { font-size:18px; }
.fb_login, .gplus_login { float:left; padding:0px 37px 10px; border-bottom:1px solid #CCC; }
.fb_login a:hover, .gplus_login a:hover { opacity:0.9; }
.fb_login { border-right:1px solid #CCC; }
.log_or { background:#fff; padding:5px 8px; font-size:14px; display:inline-table; }
.login_popup input[type="text"], .login_popup input[type="password"] { width:98%; height:45px; background:#f7f8fa; border:2px solid #dfdfdf; border-radius:5px; margin-top:10px; color:#000; font-size:14px; padding-left:2%; letter-spacing:1px; }
.login_popup input[type="submit"] { width:100%; height:45px; background:#828282; border:none; color:#fff; margin-top:10px; font-size:20px; border-radius:5px; }
.login_popup input[type="submit"]:hover { background:#4c4c4c; }

.forgot_pass { color:#ff0000; padding-bottom:3px; border-bottom:1px solid #CCC; font-size:16px;}
.forgot_pass:hover {border-bottom:1px solid #f42d00; }
.free_account { background:#d1d1d1; position:relative; left:0; bottom:0; width:100%; padding:20px 0; border-radius:0 0 5px 5px; text-align:center; }
.free_account a { font-size:16px; color:#828282; }
.free_account a:hover { color:#f42d00; }


.login_popup ::-webkit-input-placeholder {color: #ceced0;}
.login_popup :-moz-placeholder { /* Firefox 18- */color: #ceced0; }
.login_popup ::-moz-placeholder {  /* Firefox 19+ */ color: #ceced0; }
.login_popup :-ms-input-placeholder { color: #ceced0; }




/* ======================== Story Page =============================== */
.full_story { height:500px; width:85%; margin:0 auto; float:none; margin:auto; }
.full_story li { list-style:none;  box-shadow: 0px 0px 3px 1px #5f5f5f; -webkit-box-shadow: 0px 0px 3px 1px #5f5f5f; }
.story { width:100%; height:500px !important; background:#efefef; padding:10px; color:#000; line-height:24px; }
.story h1 { font-size:22px; margin:10px 0; }
.story .post_date { margin-left:-10px; margin-top:-10px; color:#fff; padding:15px 10px; position:relative; }
.story_area { height:380px; overflow:auto !important; overflow-x:hidden !important; }
.story_area .story_image { float:left; margin:15px 10px 0 0; width:200px; }
.story_area .story_image img { width:100%; height:auto; }
.story_area p { margin:0 0 15px 0; text-align:justify; padding-right:10px; }
.story .bottom_like { padding:15px 10px; }
.story .ic_like, .story .ic_comment{ font-size:18px; line-height:18px; display:flex; }
.story .ic_like img, .story .ic_comment img{ margin:0 10px 0 25px; }
.slide_btn .previous, .slide_btn .next { position: absolute; z-index: 3; top: 10px; height: 500px; background: none; box-shadow: none; padding:0; margin:0; }
.slide_btn .previous { width:8.5%; left:0; }
.slide_btn .next { width:7.5%; right:0; }
.slide_btn .previous:hover, .slide_btn .next:hover { background:rgba(0,0,0,0.5);}
.crsl-active { background:#b9b6b6; }

.comments h1 { background:#868585; color:#fff; font-size:20px; padding:10px; margin-left:10px;}
.comments ul { margin:10px 0 0 0; }
.comments li { list-style:none; }
.comments li:hover { background:#e5e5e5; }
.comment_area { background:#efefef; padding:7px; border-top:1px solid #fff; width:99%; margin:0 0 0 10px; }
.comments .comment_img { width:50px; height:50px; overflow:hidden; float:left; margin:0 10px 0 0; }
.comments .comment_img img { width:100%; height:100%; }
.comments .comment_text h2 { font-size:14px; font-weight:bold; color:#161616; float:left;margin:0 10px 0 0; }
.comments .comment_date { color:#969696; }
.comments .comment_field { width:400px; height:30px; background:#fff; border:2px solid #c6c6c6; padding-left:5px; margin-top:20px; float:left; }
.comments .comment_field::-webkit-input-placeholder {color: #8b8888;}
.comments .comment_field:-moz-placeholder { /* Firefox 18- */color: #8b8888; }
.comments .comment_field::-moz-placeholder {  /* Firefox 19+ */ color: #8b8888; }
.comments .comment_field:-ms-input-placeholder { color: #8b8888; }
.comments .comment_post { padding: 5px 20px; background: #494949; border: none; color: #fff; float:left; margin-top:20px; }
.comments .comment_post:hover {background:#161616; }

.comments .comment_seemore { float:right; margin:10px 0px 10px 0; font-size:18px; color:#F00; }
.comments .comment_seemore:hover { text-decoration:underline; }

.Similar_stories h1{ background:#868585; color:#fff; font-size:20px; padding:10px; margin-bottom:5px; }
.Similar_stories .effects .img:first-child { margin-left:4.8px !important; }

.story_bottom_like { background: #161616; padding: 5px 5px 7px; position: absolute; width: 100%; bottom: 0; left: 0; z-index: 2; color:#fff; }

.page_title { background:#fff; border-bottom:1px solid #e41e1e; width:100%; height:49px; font-size:22px; color:#161616; }
.tri-down {position: relative; border-bottom: 1px solid #e41e1e; background: #fff; padding:7px 0 10px 120px; }
.tri-down:before, .tri-down:after {content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-bottom: 0;}
.tri-down:before { bottom: -16px; left: 138px; border-top-color: #e41e1e; border-width: 16px; }
.tri-down:after { bottom: -15px; left: 139px; border-top-color: #fff; border-width: 15px; }
 
.content_grey { width:100%; }
.get_app_img { margin:50px 0 0 100px; float:left; }
.get_app_content { float:left; text-align:center; margin:150px 0 0 150px; }
.get_app_content h3 { font-size:20px; }
.tringle { margin-top:20px; }
.download_cir { background:#7d8081; border-radius:200px; padding:10px 16px; }
.download_cir:hover { background:#f42d00; cursor:pointer; }
.download_cir_box { width: 300px; margin: 10px auto; }
.white_bar { background:#fff; width:100%; text-align:center; font-size:22px; color:#161616; padding:25px 0; }
.white_content_box { width:100%; }
.white_content_box  h3 { margin:25px 0 15px; }
.inner_content { width:80%; padding:30px 0; margin:0 auto; }
.inner_content h3 { font-size:18px; }
.inner_content p { line-height:24px; }




/* ====================== Submit Story Page ================================ */
.story_submit_form { padding:25px; margin:20px 0 0 0; border:1px solid #fff; }
.form_left { float:left; width:36%; text-align:center;  }
.story_img { background:#fff ; width:100%; height:350px; margin:6px 0 0 0; overflow:hidden;}
.story_img img { height:100%; box-sizing:inherit !important;}
.form_right { float:right; width:60%; }
.select_col { width:30.5%; float:left; margin:0 7px 15px; }
.select_col select {width:100%; height:25px; border:1px solid #d6d6d6; border-radius:3px;}
.select_col input[type="text"] {width:98%; height:25px; border:1px solid #d6d6d6; border-radius:3px; padding-left:2%; font-size:13px; background:none;}
.select_col ::-webkit-input-placeholder {color: #aaaaaa;}
.select_col :-moz-placeholder { /* Firefox 18- */color: #aaaaaa; }
.select_col ::-moz-placeholder {  /* Firefox 19+ */ color: #aaaaaa; }
.select_col :-ms-input-placeholder { color: #aaaaaa; }
.tag_select { width:64%; }
.story_submit_form  .tag_area{width:100%; height:25px; border:1px solid #d6d6d6; border-radius:3px; padding-left:1%; font-size:13px; }
.tag { background:#c3c3c3; padding:1px 3px; margin-top:2px; color:#333; font-size:12px; border-radius:3px; float:left; margin-right:4px;}
.tag_add { background:#d6d6d6; padding:0px 3px;  }
.btn_tag_del, .btn_tag_add { color:#fff; padding:0 5px; border-left:1px solid #fff; margin-left:5px;}
.btn_tag_del { font-size:10px; }
.tag  input[type="text"] {width: 65px; border: none; background: none; height: inherit; color: #fff; font-size:12px; }
.tag_area ::-webkit-input-placeholder {color: #fff;}
.tag_area :-moz-placeholder { /* Firefox 18- */color: #fff; }
.tag_area ::-moz-placeholder {  /* Firefox 19+ */ color: #fff; }
.tag_area :-ms-input-placeholder { color: #fff; }
.type_story { width:98%; height:200px; border:1px solid #d6d6d6; border-radius:3px; padding-left:2%; font-size:13px; background:none; }
.type_story::-webkit-input-placeholder {color: #aaaaaa;}
.type_story:-moz-placeholder { /* Firefox 18- */color: #aaaaaa; }
.type_story::-moz-placeholder {  /* Firefox 19+ */ color: #aaaaaa; }
.type_story:-ms-input-placeholder { color: #aaaaaa; }
.share_text { float:left; margin-right:42px; }
.check_logo { float:left; margin-left:70px; }
.story_form_send, .story_form_reset { width:150px; color:#fff; padding:7px 0; border:none; border-radius:5px; float:right; margin:0 10px;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #969696 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
.story_form_reset { background:none; color:#000; width:70px; }

.story_form_send:hover, .story_form_reset:hover {background:#454444;}
.story_form_reset:hover { background:none; color:#666; }

.red_divider {  height:1px; margin:30px 0;
	background: #ffe2e3; /* Old browsers */
	background: -moz-linear-gradient(left, #ffe2e3 0%, #ff3033 50%, #ffe2e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffe2e3), color-stop(50%,#ff3033), color-stop(100%,#ffe2e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffe2e3 0%,#ff3033 50%,#ffe2e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffe2e3 0%,#ff3033 50%,#ffe2e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffe2e3 0%,#ff3033 50%,#ffe2e3 100%); /* IE10+ */
	background: linear-gradient(to right, #ffe2e3 0%,#ff3033 50%,#ffe2e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2e3', endColorstr='#ffe2e3',GradientType=1 ); /* IE6-9 */
}
.qus { font-size:16px; font-weight:bold; margin-bottom:10px; }



/* ===================== Story Like Social Icons ================================*/
.overlay_social { position:absolute; z-index:1; right:0; bottom:5px;}
.facebook_like_story, .twitter_like_story, .google_like_story { width:20px; height:27px; padding:3px 0 3px 30px; margin:1px 0;  position:relative;  -webkit-transition:right 1s; /* For Safari 3.1 to 6.0 */ transition:right 1s;  }
.facebook_like_story { background: url(../images/ic_f.png) no-repeat left center #3c5b9b; border-left:3px solid #2f4c88; opacity:0.8; }
.twitter_like_story { background: url(../images/ic_t.png) no-repeat left center #446482; border-left:3px solid #24405a; opacity:0.8; }
.google_like_story { background: url(../images/ic_g.png) no-repeat left center #f63e28; border-left:3px solid #d42a16; opacity:0.8; }
.facebook_like_story:hover, .twitter_like_story:hover, .google_like_story:hover { /*right:0;*/ cursor:pointer; opacity:1;}


/* ======================== Contact Page ============================= */
.contact { padding:30px 0; width:90%; margin:0 auto 30px;}
.contact h3 {margin:20px 0; font-size:18px; font-weight:bold;}
.contact_social_link { background:#f9f9f7; text-align:center; padding:40px; margin:5px 3px; display:inline-table; }
.contact_social_link:hover { background:#f42d00; cursor:pointer; }
.contact_form { float:right; }
.contact_form label { width:100%; font-size:13px; color:#666; font-weight:normal; margin-bottom:0; margin-top:15px; }
.contact_form input[type="text"], .contact_form input[type="email"], .contact_form textarea { width:98%; height:35px; border:1px solid #c4c3c2; background:#fff; border-radius:3px; padding:0 0 0 2%; }
.contact_form textarea { height:150px; }
.contact_form input[type="submit"] { padding:8px 50px; background:#494949; border:none; color:#fff; margin-top:15px; }
.contact_form input[type="submit"]:hover { background:#161616; }

.inner_content h3 { margin:25px 0 10px; }




[placeholder]:focus::-webkit-input-placeholder {
 
  opacity: 0;
}


/* ========================== Check Box =============================*/
input[type=checkbox].css-checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:35px;
height:21px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -21px;
}

.css-label{
background-image:url(../img/checkbox_img.png);
}


.upload_img:hover .image_upload_btn { display:block; }
.image_upload_btn { display:none; position:absolute; margin-left:95px; }

.upload_btn { overflow: hidden; text-align: center; position:relative; display:inline-table; bottom:70px; color:#fff; padding:7px 40px; border-radius:5px; 
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #969696 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
.upload_btn:hover { background:#454444; }
.file_browse { margin-left: -145px;  opacity: 0.0; position:absolute; top:0; height:35px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }






/* ============================ Image DropDown =========================== */
.dd { border: 1px solid #d6d6d6; background:none; }
.dd .ddTitle { background:#eff2f4; height:25px; border-radius:5px; }
.dd .ddTitle .ddTitleText { padding:3px 20px 3px 5px;}

.ddcommon ul{ height:200px !important; }
.ddChild { z-index:2 !important;}




/* =========================== Share Popup ================================ */
.story_share_popup { background:rgba(0,0,0,0.8); width:100%; height:100%; position:fixed; z-index:999; top:0; right:0px;  }
.share_content {color:#828282; margin:50px auto; width: 550px; background: #fff; padding:30px 20px 0; border-radius: 10px; margin-top:10%; }
.share_via { margin-top:20px; }
.share_social_icon { margin:30px auto 0; }
.share_social_icon ul { margin:0; padding:0; }
.share_social_icon ul li { list-style:none; float:left; margin:0 0 0 54px; }
.share_social_icon ul li img:hover { opacity:0.8; }
.share_popup_close_btn { position:relative; top:-45px; width:20px; height:20px; float:right; right:-20px; }
.share_bottom {background:#d1d1d1; padding:10px 0; margin-top:50px; color:#828282; border-radius:0 0 5px 5px; }
.title_popup { color:#F00; font-weight:bold; }
.share_content input[type="text"] { width:100%; border:1px solid #CCC;  padding-left:1%; }
.invite_people { background:#f6f6f6; padding:10px 10px 20px; margin-top:40px; }
.share_content input[type="submit"] { background:#828282; padding:5px 20px; border:none; color:#fff; margin:20px 0 40px; }
.share_content input[type="submit"]:hover { background:#686868; cursor:pointer;}
.share_content ::-webkit-input-placeholder {color: #bebebe;}
.share_content :-moz-placeholder { /* Firefox 18- */color: #bebebe; }
.share_content ::-moz-placeholder {  /* Firefox 19+ */ color: #bebebe; }
.share_content :-ms-input-placeholder { color: #bebebe; }




.comments, .Similar_stories { width:984px; }
.story_similar { margin-left:10px; }
.story_top { border-bottom:1px solid #E0DFDF; height:44px;}
.post_share { height:40px; float:right; line-height:40px; width:200px; margin-top:-5px; }
.share_post_btn { width:30px; height:40px; background:url(../images/unselect_share.png) no-repeat center; border:none; border-left:1px solid #a2a2a2; margin-left:7px; float:right; }
.share_post_btn:hover { width:30px; height:40px; background:url(../images/select_share.png) no-repeat center; }
.share_post_btn_minus { background:url(../images/select_share.png) no-repeat center; width:30px; height:40px; border:none; border-left:1px solid #a2a2a2; margin-left:7px;  float:right; }
.share_post_btn_minus:hover { background:url(../images/unselect_share.png) no-repeat center; width:30px; height:40px; }
.post_text { float:left; width:116px; text-align:right; }
.post_text:hover { cursor:pointer; color:#f42d00; }
.post_icon { float:left; }
.story_tag { float:left; margin:0 0 0 20px; }
.story_tag li { float:left; margin:5px; -webkit-box-shadow:none; -moz-box-shadow:none;  }
.story_tag li a { border:1px solid #797979; padding:2px 5px 0; line-height:normal; color:#000;}
.story_tag li a:hover { cursor:pointer; background:#f42d00; color:#fff; } 
.redio_choose { width:50%; }

.alert {position:fixed; z-index:30; width:100%; display:none;}
.error { background:#f7bfc1; }



.invite_connection { width:400px; }
.invite_icon { text-align:center; margin:0 auto 30px; }
.invite_icon li { display:inline-block; padding:25px; }
.invite_icon li a { opacity:0.9; }
.invite_icon li a:hover { opacity:1; }


.setting td { padding:10px; font-size:15px; text-align:center; }
.feedback_select { width:250px; height:25px; background:none; border:1px solid #CCC; border-radius:5px; }
.feedback_textarea { max-width:100%; max-height:120px; width:100%; height:120px; border:1px solid #CCC; border-radius:5px; background:none; margin-bottom:15px; }
.setting h3 { margin:0; }
.setting h4 { font-size:14px; }
.setting .story_form_send { margin:0; }




/* =================== 5 July 2014 ===================== */

.hover_post_share:hover { color:#f42d00; }
.hover_post_share:hover .share_post_btn{ width:30px; height:40px; background:url(../images/select_share.png) no-repeat center; }
.share_post_btn { float:left; }
.share_post_btn_minus { float:left; }
.user_menu { width:40px; height:47px; background:url(../images/ic_menu.png) no-repeat center; border:none; margin-left:5px; float:right; padding:0px 0; }
.user_menu:hover { width:40px; height:47px; background:url(../images/ic_menu_hover.png) no-repeat center; }
.user_menu:hover .user_option_2 { display:block; } 
.user_option_2 { display:none; width:150px; background:#fff; position:absolute; right:10px; top:53px; } 
.user_option_2 li { margin:0 5px; border-bottom:1px solid #ececec; -webkit-box-shadow:none; -moz-box-shadow:none; }
.user_option_2 li a { color:#000; font-size:15px; display:block; padding-left:5px; }
.user_option_2 li a:hover { color:#F00;  }
.yes_btn, .no_btn { padding:5px 25px; background:#828282; color:#fff; font-size:16px; }
.no_btn { margin-left:25px;}

.share_content h4 { color:#000; font-weight:normal; font-size:15px; margin:10px 0 5px; }
.report_textarea { max-width:100%; max-height:150px; width:100%; height:150px; border:1px solid #CCC; border-radius:5px; }
.report_submit input[type="submit"] { color: #fff; padding: 5px 20px; border: none; border-radius: 5px; float: right; margin: 10px 10px 20px;
background: #969696;
background: -moz-linear-gradient(top, #969696 0%, #2b2b2b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#2b2b2b));
background: -webkit-linear-gradient(top, #969696 0%,#2b2b2b 100%);
background: -o-linear-gradient(top, #969696 0%,#2b2b2b 100%);
background: -ms-linear-gradient(top, #969696 0%,#2b2b2b 100%);
background: linear-gradient(to bottom, #969696 0%,#2b2b2b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#2b2b2b',GradientType=0 );
}
.app_download img{ width:130px; } 
.app_download a{ margin-right:30px; opacity:0.8; }
.app_download a:hover { opacity:1; }
.app_download a:last-child { margin-right:0; }


/* ====================== 7 July ========================== */
.index_search { width:600px; height:50px; margin:35px auto; }
.download_btn { display:inline-block; margin:5px; }
.continue_site {  margin:25px 0; }
.continue_site a { color:#fff; font-size:22px; }
.continue_site a:hover { text-decoration:underline; color:#fff; }
.popular_tag { float:right;background:#fff; text-align:center; margin-top:10px; padding:10px;box-shadow: 0px 1px 2px 1px #CCC; -webkit-box-shadow: 0px 1px 2px 1px #CCC; -moz-box-shadow: 0px 1px 2px 1px #CCC; }
.popular_tag li { width:32%; display:inline-block; margin:3px 0; }
.popular_tag a { color:#000; display:block;  border:1px solid #333; cursor: pointer;}
.popular_tag a:hover { background:#f42d00; color:#fff; border:1px solid #ca2804; }

.tabs_section { float:right;background:#fff; margin-top:10px; padding:0; box-shadow: 0px 1px 2px 1px #CCC; -webkit-box-shadow: 0px 1px 2px 1px #CCC; -moz-box-shadow: 0px 1px 2px 1px #CCC; }
.tabs li { list-style:none; display:inline;	margin-right:-3px; }
.tabs a { text-align:center; padding:5px 0; display:inline-block; background:#7a7a7a; color:#fff; text-decoration:none; width:50%; margin-bottom:10px;}
.tabs a.active { background:#fff; color:#f42d00; }
.most li { border-bottom:1px solid #CCC; list-style:none; padding:10px; }
.most li h1 { font-size:13px; font-weight:bold; margin-left:5px; }
.most li h1 a { color:#161616; }
.most li h1 a:hover { color:#f42d00; text-decoration:underline; }
.most_img { width:50px; height:50px; overflow:hidden; float:left; }
.most_img img { width:100%; opacity:0.8; }
.most_img img:hover { opacity:1; }
.most_time { background:url(../images/ic_most_time.png) no-repeat top 5px left; padding-left:15px; float:left; }
.most_comment{ background:url(../images/ic_most_comment.png) no-repeat top 5px left; padding-left:15px; float:right; }
.most_cont { float:left; margin-left:5px; width:214px; }


.categories:hover.categories h1, .popular_tag:hover.popular_tag h1 { width:70%; border-bottom:2px solid #f42d00; } 

.icon_like, .icon_comment { width:20px; height:20px; float:left; margin-top:2px; display:block; cursor:pointer; }
.icon_like { background:url(../images/ic_like.png) no-repeat; }
.icon_comment { background:url(../images/ic_comment.png) no-repeat; }

/* .icon_like:hover { background:url(../images/ic_like_hover.png) no-repeat; }
.icon_comment:hover { background:url(../images/ic_comment_hover.png) no-repeat; } */



.ic_story_like, .ic_story_activity, .ic_story_copy, .ic_story_share, .ic_story_comment, .ic_story_flag  { width:25px; height:21px; display:block; cursor:pointer; float:left; }

.ic_story_like {background:url(../images/ic_story_like.png) no-repeat; }
.ic_story_activity {background:url(../images/ic_activity.png) no-repeat; margin-left:20px; }
.ic_story_copy {background:url(../images/ic_copy_paste.png) no-repeat; margin-right:20px;}
.ic_story_share {background:url(../images/ic_story_share.png) no-repeat; }
.ic_story_comment {background:url(../images/ic_story_comment.png) no-repeat; margin-left:20px; width:30px; }
.ic_story_flag {background:url(../images/flag.png) no-repeat; margin-left:20px; }

/* .ic_story_like:hover {background:url(../images/ic_story_like_hover.png) no-repeat; }
.ic_story_activity:hover {background:url(../images/ic_activity_hover.png) no-repeat; }
.ic_story_copy:hover {background:url(../images/ic_copy_paste_hover.png) no-repeat;}
.ic_story_share:hover {background:url(../images/ic_story_share_hover.png) no-repeat; }
.ic_story_comment:hover {background:url(../images/ic_story_comment_hover.png) no-repeat; }
.ic_story_flag:hover {background:url(../images/flag_hover.png) no-repeat; } */


.img div { transition:top .3s; -webkit-transition:top .3s; }

.img { width:100%; position:relative; overflow:hidden;   }
.tran { background:rgba(0,0,0,0.5); width:100%; height:100%; position:absolute; display:none; }
.overlay { width:100%; height:87%; top:60%; position:absolute; z-index:1; }
.img:hover .overlay{ top:0; }
.img:hover .post_date { display:none; }
.img:hover .tran { display:block; }

.res_story_tag { display:none; margin:10px 0; }

.back-to-top {position: fixed;bottom: 6em;right: 15px;text-decoration: none;color: #000000;font-size: 12px;	padding: 1em;display: none;background: #ccc url(../img/toparrow.png) no-repeat;background-position:50% 50%;width:40px;height:40px; z-index:1110;}
.back-to-top:hover {background-color: rgba(135, 135, 135, 0.50);width:40px;height:40px;}

/*  Sticky Changes */

 .is_stuck .categories { background:#fff; margin-top:7px; padding:10px 0px 0; box-shadow:0px 1px 2px 1px #CCC; -webkit-box-shadow:0px 1px 2px 1px #CCC; -moz-box-shadow:0px 1px 3px 1px #CCC; clear:both; float:right; }

.is_stuck .popular_tag { background:#fff; text-align:center; margin-top:10px; padding:10px;box-shadow: 0px 1px 2px 1px #CCC; -webkit-box-shadow: 0px 1px 2px 1px #CCC; -moz-box-shadow: 0px 1px 2px 1px #CCC; clear:both; float:right; }


.is_stuck  .tabs_section { background:#fff; margin-top:10px; padding:0; box-shadow: 0px 1px 2px 1px #CCC; -webkit-box-shadow: 0px 1px 2px 1px #CCC; -moz-box-shadow: 0px 1px 2px 1px #CCC; clear:both; float:right; }
.popular_tag1{display:none;}





.Similar_stories { padding-left:20px; }
.comment_text #add-commentSpinner { margin-top:13px; }
.comment_text .spinner { left:58% !important; }
/* .signin .fb_login, .signin .gplus_login { width:100%; margin:5px 0; opacity:0.9; }
.signin .fb_login:hover, .signin .gplus_login:hover { opacity:1; }
.signin img { vertical-align:middle; }
.signin a { font-size:20px; color:#fff;  }
.signin .fb_login { background: #2b3e79; }
.signin .gplus_login { background:#cb4031; } */

.popular_tag a.active {background: #f42d00;color: #fff;border: 1px solid #ca2804;}
 .story_box .col-lg-3 { width:32.3%; }
.story_box .col-lg-6 { width:65.5%; }
.overlay { top:70%; }


/* ============================ Styry Popup ================================ */
.story_popup_2 { position:absolute; background:none; }
.story_popup { width:920px; margin:5% auto; }
.story_popup_close { display:flex; position:fixed; right:20px; top:10px; padding:10px;}
.story_popup_close:hover { background:#000; cursor:pointer; }
.article_area { width:600px; height:464px; float:left; }
.article_area h1 {font-size:24px; float:left; color:#fff; margin-top:4px;}
.article_title { background:#000; padding:10px 10px 1px; border-bottom:2px solid #666; }
.post_text { color:#fff !important; }
.user_menu { height:45px !important; }
.user_option_2 { position:relative; right:100px; top:41px; }
.share_post_btn_minus, .share_post_btn { border-left:none; }
.user_option_2 li { list-style:none; }
.article_user { color:#fff; font-size:14px; padding:10px; border-bottom: 1px solid rgba(255,255,255,0.3);  }
.art_user_img {  width:50px; height:50px; border-radius:200px; float:left; margin-right:15px ; }
.art_user_name { font-size:20px; }
.art_content { font-size:17px; color:#fff; padding:10px; width:98%; margin:0 auto;height:260px;overflow:hidden; }
.art_tag_area { width:100%;  border-top: 1px solid rgba(255,255,255,0.2); margin:10px 0 0 0; padding:3px 0 2px; }
.art_tag_area a { color:#000; }
.art_tag_area a:hover { color:#f42d00; }
.art_tag { width:80px; height:40px; background:url(../images/tag_bg.png); padding:10px 0 10px 10px; float:left; margin-left:10px;}
.art_comment { width:320px; background:#fff; float:left; height:464px; overflow-y:auto; overflow-x:hidden; font-family:Arial, Helvetica, sans-serif; font-size:13px; box-shadow:0px 2px 7px 4px #000;}
.art_comment h1{ padding:20px 0 20px 10px; font-size:18px; color:#7E7E7E; }
.art_comment li { list-style:none; background:none; width:auto; margin:0 10px; border-top: 1px solid #f2f2f2; padding:15px 0px; position: relative; }
.art_comment li .comment_img { width:50px; height:50px; border-radius:200px; overflow:hidden; float:left; margin-right:10px; }
.art_comment li .comment_img  img { width:100%; height:100%; }
.art_comment li .comment_text h2 { font-size:14px; color:#7E7E7E; }
.art_similar { width:100%; }
.art_similar h1 { color:#fff; font-size:18px; padding:20px 0 10px 0; background:rgba(0, 0, 0, 0.7); margin:7px 0 0; padding:10px; float:left; }
.art_similar .story_similar { margin-left:0; }
.article_area .story_bottom_like { position:relative; }
.comment_field { width:100%;margin-bottom: 20px; }

.ic_story_view { background: url(../images/ic_story_view.png) no-repeat; margin-left: 30px; }
/* .ic_story_view:hover { background: url(../img/ic_story_view_hover.png) no-repeat; margin-left: 20px; } */
.ic_story_view { width: 34px;
height: 19px;
display: block;
cursor: pointer;
float: left;
}



.overlay { top:15%;}
.img:hover .overlay {top:15%;}
.img:hover .post_date { display: block;}
.read_btn, .overlay_social {top:100%; position: absolute; transition: top .6s; -webkit-transition: top .6s;}
.img:hover .read_btn {top:44%;}
.img:hover .overlay_social {top:28%;}

.icon_like:hover { background-position:0px -19px; }
.icon_comment:hover { background-position:0px -19px; }

.ic_story_comment:hover {background-position:0px -22px; }
.ic_story_like:hover {background-position:0px -22px; }
.ic_story_view:hover { background-position:0px -18px;}




.icon_like.isliked { background-position:0px -19px; }
.icon_comment.iscommented { background-position:0px -19px; }
.ic_story_view.isviewed { background-position:0px -18px;}

.ic_story_like.storyliked {background-position:0px -22px; }


.comment_area .comment_date {font-size:11px;color:#ACACAC;}
.contact .col-lg-4 { width:35% }

.comment_text {width:98%;}

.circle {width:60px;height:60px;right:0;bottom:0;border-radius:100%;text-align:center;line-height:100px;margin:10px;float:right;z-index:9999;position:fixed;overflow:hidden;}
 .circle img { width:100%;height:100%;}
.avatar {float:left; height:45px; width:45px; margin-right:5px; border-radius:100%; overflow:hidden; }
.avatar img{width:100%;height:100%; border-radius:100%;}

.user_option li img { width:30px; height:30px; vertical-align:middle; margin-right:10px; margin-left:5px; border-radius:100%; overflow:hidden; }

.comment_delete { width:12px; height:12px; background:url(../images/close.png) no-repeat; position: absolute; top: 10px; right: 0; }
.comment_delete:hover { background-position: 0 -14px; cursor: pointer;}

/* for eliipsis the content in div*/
.ellipsis {
  /* width: 18em;*/ 
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical; 
 
}

/* shabaz sir changes css on 30 aug */



.pub_pri .article_area { width:100%; }
.pub_pri .full_story { height:auto; margin-top:10px; }
.pub_pri .art_comment { width:100%; background:none; box-shadow:none; }
.pub_pri .comments h1 { background:none; font-size: 18px; color: #7E7E7E; }
.pub_pri .comments ul { margin:0; }
.pub_pri .art_comment li { border-top:1px solid #fff; border-bottom:1px solid #fff; }
.pub_pri .comments .comment_img { border-radius:200px; }
.post_text:hover { cursor:default; }
.art_tag { width:auto; height:auto; padding: 5px 10px 0px; margin: 5px 0 5px 10px; background: #fff; border-radius: 5px; text-align: center; }
.art_tag:hover { background:#fefefe; color:#F00; cursor:pointer; }

.story_popup { position:fixed; left:50%; margin-left:-460px; }
.story_edit { width:40px; height:40px; background:url(../images/ic_edit.png) no-repeat center; float: left; margin-left: 7px;}
.story_edit:hover {  width:40px; height:40px; background:url(../images/ic_edit_hover.png) no-repeat center; cursor:pointer; }
.story_delete { width:40px; height:40px; background:url(../images/unselect_delete.png) no-repeat center; float: left; margin-left: 7px;}
.story_delete:hover {  width:40px; height:40px; background:url(../images/select_delete.png) no-repeat center; cursor:pointer; }
.user_menu, .user_menu:hover { width:34px; }
.post_share { width:240px;}

input[type="text"] { height:20px; line-height:20px; padding:0; }
//input[type="submit"] { width:auto; }

.categories li a.active {color: #f42d00;}
.user_option li a.active{color: #f42d00;}
