/* 
	author: istockphp.com
*/
#backgroundPopup { 
	z-index:9995;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    display: none;
	font-size: 14px;
    left: 33%;
    position: absolute;
    top: 15%;
    width: auto;
    z-index: 9999;
	padding:0;
	/*box-shadow: 0 0 10px 10px #333;*/
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 13px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 12px;
    position: relative;
    width: 30px;
	opacity:1;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 22px;
    opacity: 1;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -57px;
    text-align: center;
    top: -38px;
    width: 109px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 0;
}









/* 
	Sign Up Popup
*/
#backgroundPopup_2 { 
	z-index:9995;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup_2 {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px;
    display: none;
	font-size: 14px;
    left: 33%;
    position: absolute;
    top: 15%;
    width: auto;
    z-index: 9999;
	padding:0;
	/*box-shadow: 0 0 10px 10px #333;*/
}
div#popup_content_2 {
    margin: 0;
}