@charset "utf-8";
/* CSS Document */
@media (max-width:1024px) {
.container { width:1024px; }
.col-lg-4 { width:33%; float:left;}
.col-lg-3 { width:25%; float:left; }
.navigation_bar .main_menu a { margin:15px 35px;}
.header_search_field, .header_search_btn { border-radius:0 !important; } 
.story_box { width:750px !important; float:left; }
.content .story_box .col-lg-3 { width:32.3%; }
.full_story { height:500px; width:85%; }
.Similar_stories .story_box { width:100% !important; }
.contact_form { width:60%; }
.contact .col-lg-4 { width:40%;}
.story_img img { width:100%; height:100%; }
.share_text { margin-right:0; }
}

@media (max-width:980px) {
.container { width:100%; }
.index_app_download { width:100%; }
.index_head { text-align:right; width:auto; }
.top60 { margin-top:0; }
.res_top60 { margin-top:50px; }
.index_transparent { padding:0 0 50px 0;}
footer .col-lg-4 { width:33%; float:left; }
footer ul { padding:0 20px;}
.index_slide {  margin-top:50px; }
.index_app_download { width:60%; }


header { height:50px; }
.top_menu { margin:15px 0 0 0;  }
.story_box { width:550px !important;}






header .header_logo {width:75px; margin-top:0px; margin:0; }
header .header_logo img { width:100%; }
.top_menu { margin:10px 0 0 80px; }
.top_menu li { margin:0 9px; }
.top_menu li a { font-size:12px; padding:0; background:none; }
.top_menu li a:hover, .top_menu li a.active { background:none; }
.user_name { margin-right:15px; }
.avatar_btn, .avatar { margin:0; width:150px; }
.avatar { width:33px; height:33px; }
.user_option { right:2px; top:40px; width:280px; position:absolute; }
.container-fluid { padding-right:0; }
.navbar-header { width:auto; float:left; }
.navigation_bar { background:#f5f5f5; height:45px; left:0; }
.navbar-nav { margin:0; background:#FFF; padding:0 2%; position:absolute; z-index:10; width:96%; }

.res_search .res_search_field { width:160px; background:#bababa; border-radius:5px 0 0 5px; border:none; height:25px; padding:5px; float:left; }
.res_search .res_search_btn { background:url(../images/res_search_btn.png) no-repeat center #989898; width:45px; height:25px; border:none; float:left; border-radius:5px; margin-left:-5px;}

.social_link { display:none; }
.social_link ul li { width:20px; padding:0 5px; margin:0 4px; }
.social_link ul li img { width:100%; }
.navbar-toggle { border:none; background:none; margin:0 8px 0 0; left:0 !important; }
.navbar-default .navbar-toggle .icon-bar { background-color:#000 !important; left:0 !important; }



.navigation_bar .main_menu a { margin:10px 20px;}
.get_app_img { width:300px; margin:50px 0 0 30px; }
.get_app_img img { width:100%; }
.get_app_content { margin:40px 0 0 40px; }
.contact_form { width:100%; }
.contact .col-lg-4 { width:100%; margin-bottom:25px; }
.select_col { width:46%; }
.check_logo { margin-left:25px;}
.inner_content { width:90%; }
.story_img { height:300px; margin-bottom:20px; }

#toPopup, #toPopup_2 { position: absolute; left: 50%; margin-left: -180px; }

.story_popup_scroll { overflow-y:scroll; overflow-x:hidden; height:300px; top:60px; }
.pub_pri .comments li { padding:5px 0; }

}


@media (max-width:767px) {
.index { background:url(../images/body_bg_mobile.jpg) right top; }
.bg_girl { display:none;}
.social_like { width:80px; }
.social_like img { width:100%;}
.account_btn { font-size:15px; padding:0 15px; height:30px; margin-right:10px; line-height:30px; margin }
.index_search { width:auto; }
.search_field { width:90%; top:0; height:30px; }
.search_btn { width:10%; height:30px; }
.center_content { margin-top:70px; }
.center_content h1 { font-size:18px; line-height:normal;}
.index_slide { display:none; margin-top:50px; }
.col-lg-4 { width:100%%; float:left;}
.col-lg-3 { width:100%; float:left; }
.index_app_download { width:60%; }
.index_app_download { width:80%; }
footer .col-lg-4 { width:50%; float:left; }
footer h1 { font-size:15px;}
footer ul { padding:0px; border:none; }
footer ul li { line-height:20px; }
footer ul li a { font-size:14px; }
.footer_desktop { display:none; }
.footer_mobile { display:block; width:100% !important; border-top:1px solid #1d1d1d; margin-top:20px;} 
.index_views { width:100%; }
.index_views .col-lg-4 { width:33%;  }
.circle {width:40px;height:40px;right:0;bottom:0;border-radius:100%;text-align:center;line-height:80px;margin:10px;float:right;z-index:9999;position:fixed;overflow:hidden;}


header { height:40px; top:0; position: fixed; }
.navigation_bar { height:40px; top:40px; }

.content { /*top:70px;*/ padding-top:80px; }
.header_search { display:none; }
.res_search { display:block; margin-left:30px; float:left; margin-top:3px; width:90%; margin:5px 0 0 50px; }
.res_search .res_search_field { width:85%; background:#bababa; border-radius:5px 0 0 5px; border:none; height:25px; padding:5px; float:left; }
.story_box { width:100% !important; }


.categories { position: fixed; z-index: 30; width: 90%; top: 60px; display:none; }

.story .ic_like img, .story .ic_comment img { margin:0 5px; }
.comments .comment_field { width:350px;}
.tri-down { padding:7px 0 10px 0px; }
.tri-down:before { left:15px; }
.tri-down:after { left:16px; }
.get_app_img { width:100%; text-align:center; margin:30px 0 0 0;}
.get_app_img img { width:200px;}
.get_app_content { margin:40px 0 0 0px; width:100%; }
.select_col { width:100%; }
.story_form_send, .story_form_reset { width:110px; }

.responsive_cat { display:block; }
.comments h1, .Similar_stories h1, .comment_area, .story_similar { margin-left:0; }

.image_upload_btn { position:relative; margin-left:0; }
.share_content { width:90%; }
.story_box .col-lg-6 { width:99%; margin-top:15px; }
.desktop_story_tag { display:none; }
.res_story_tag { display:block; }
.story_box { min-height:inherit; }
.story_box .col-lg-3 { width:32.4%; }
.story_box .col-lg-3:first-child {margin-left:0px; }
.story .ic_like, .story .ic_comment{ display:inherit;}
.ic_story_activity { display:none; }
.page_title { height:49px; }
#sidebar { position:relative !important; display:none; }
.footer_logo { margin-top:10px; }
.index_head { margin-top:0; }
.index .index_head { margin-top:15px; }


}

@media (max-width:480px) {
.account_btn { font-size:11px; padding:0 10px; height:30px; margin-right:5px; border-radius:3px; }
.index_app_download { margin-top:20px; padding:20px 0 ;}
.index_app_itune, .index_app_android { float:none; margin:0 0 20px 0; display:block;}
.account_btn {padding:2px 5px 5px;}




header .header_logo {width:75px; margin-top:0; }
header .header_logo img { width:100%; }
.top_menu { margin:10px 0 0 80px; }
.top_menu li { margin:0 5px; }
.top_menu li a { font-size:12px; }
.header_search { display:none; }
.avatar_btn, .avatar { margin:0; }
.avatar { width:33px; height:33px; }
.container-fluid { padding-right:0; }
.navbar-header { width:auto; float:left; }
.navigation_bar { background:#f5f5f5; height:35px; left:0; }
.navbar-nav { margin:0; background:#FFF; padding:0 2%; position:absolute; z-index:10; width:96%; }

.res_search { display:block; margin-left:30px; float:left; margin-top:3px; margin:5px 0 0 50px; }
.res_search .res_search_field { background:#bababa; border-radius:5px 0 0 5px; border:none; height:25px; padding:5px; float:left; }
.res_search .res_search_btn { background:url(../images/res_search_btn.png) no-repeat center #989898; height:25px; border:none; float:left; border-radius:5px; margin-left:-5px;}

.social_link { height:20px; margin-top:9px; }
.social_link ul li { width:20px; padding:0 5px; margin:0 4px; }
.social_link ul li img { width:100%; }
.navbar-toggle { border:none; background:none; margin:0 8px 0 0; left:0 !important; }
.navbar-default .navbar-toggle .icon-bar { background-color:#000 !important; left:0 !important; }
.content .story_box .col-lg-3 { width:48%; margin:3px 1%; }
.Similar_stories .story_box .col-lg-3 { width:48%; margin:3px 1%; }

.comments .comment_field { width:250px;}
#toPopup, #toPopup_2 { left:13%; margin-left:0; }
.login_popup { width:350px; padding:10px; }
.fb_login, .gplus_login { padding:10px 41px; }
#backgroundPopup, #backgroundPopup { display:none !important; }

.form_left, .form_right { width:100%; }
.dd .ddTitle .ddTitleText { width:100% !important; }
.search_hint { width:205px; margin-top:40px; margin-left:0px;}
.top_tringle { left:125px; }
.story_img { height:300px; }
.post_share { width:126px; }
/*.share_post_btn, .share_post_btn_minus { display:none !important; }*/
.redio_choose{ width:100%; }
.share_social_icon ul li { margin: 0 0 0 24px;}
.avatar_btn, .avatar { width:55px; background:url(../images/avater_img2.png) no-repeat; margin-top:-5px;}
.avatar_btn:hover{margin: -5px 0 0 -20px;}
.app_download { text-align:center; }
.app_download a { display:inline-table; margin:0; }
footer h1 { text-align:left; width:100%; }
.user_name{margin-right:0px;}
.user_name{display:none;}

}

@media (min-width:310px) and (max-width:479px) {
.res_search { margin:5px 0 0 30px;}
.res_search .res_search_field { }
.res_search .res_search_btn {   height:25px; }
.top_menu { margin:10px 0 0 0; }
.social_link ul li {  margin:0; }

.social_link { height:20px; margin-top:9px; }
.social_link ul li { width:20px; padding:0 5px; }
.social_link ul li img { width:100%; }
.comments .comment_field { width:190px; margin-top:0; margin-bottom:10px;}
#toPopup, #toPopup_2 { left:5%; }
.login_popup { width:280px; padding:10px; }
.fb_login, .gplus_login { padding:10px 31px; }
#backgroundPopup, #backgroundPopup { display:none !important; }
.full_story { width:100%; padding:0;  }
.contact_social_link { padding:25px;}
.story_form_send, .story_form_reset { width:90px; }
.story_img { height:200px;}
.share_social_icon ul li { margin: 0 0 0 14px;}
.invite_icon img { width: 50px; }
.story {background:#b9b6b6;}
.story_area .story_image {width:100px; margin-top:0;}
.slide_btn .previous, .slide_btn .next { display:none; }
.circle {width:30px;height:30px;right:0;bottom:0;border-radius:100%;text-align:center;line-height:58px;margin:10px;float:right;z-index:9999;position:fixed;overflow:hidden;}


.article_area h1 { font-size:18px; }
.art_content { width:94%; padding:0 3%;  }
.art_user_name { font-size:17px; }
.story_popup { width: 100%; margin-top: 31px; }
.story_popup_scroll .story_popup { margin-top:0; }
.comment_text { width: 70%;}
.story_popup{ margin-left:0px; left:0px; padding:0 5px;}
/*.art_content{ height:110px;}*/
.article_user{ padding-left:5px; line-height:1;}
.article_title{padding:0px 5px;}
.post_share{height:33px;}
.art_user_img{width:40px; height:40px;}
.art_tag_area{margin:0px; padding:0px;}
.story_bottom_like{padding:2px 5px 3px;}
.art_comment h1{padding:10px 0px 10px 10px;}
.comment_field{margin-bottom:10px;}
input[type="text"]{height:25px;}
.comment_area{padding:0px;}
.art_comment{height:200px;}
.post_icon{top:36px;}
.user_option_2{top:36px;}
.user_menu{width:25px;}
.user_menu:hover{width:25px;}
.share_post_btn{width:25px;}
.share_post_btn:hover{width:25px;}
.story_delete{width:25px; margin-left:5px;}
.story_delete:hover{width:25px;}
.story_edit{width:25px; margin-left:0px;}
.story_edit:hover{width:25px;}
.story_popup1{margin-left:0px; left:0; width:100%; padding:0 10px; }
.user_option_2{right:122px;}
.story_popup{position:relative;}

}


@media (max-width:767px) {
.story_popup { width:90%; }
.article_area { width:100%; height:auto; }
.art_comment { width:100%; }
.story_popup_close { right:0; top:0;}
.story_popup {margin-top: 50px;}



.article_area h1 { font-size:18px; }
.art_content { width:94%; padding:0 3%;  }
.art_user_name { font-size:17px; }
.story_popup { width: 100%; margin-top: 60px; }
.story_popup_scroll .story_popup { margin-top:0; }
.comment_text { width: 70%;}
.story_popup{ margin-left:0px; left:0px; padding:0 5px;}
/*.art_content{ height:110px;}*/
.article_user{padding-left:5px; line-height:1;}
.article_title{padding:0px 5px;}
/*.post_share{height:33px;}*/
/*.art_user_img{width:40px; height:40px;}*/
.art_tag_area{margin:0px; padding:0px;}
.story_bottom_like{padding:2px 5px 3px;}
.art_comment h1{padding:10px 0px 10px 10px;}
.comment_field{margin-bottom:10px;}
/*input[type="text"]{height:25px;}*/
.art_comment li{padding:5px 0px;}
.comment_area{padding:0px;}
/*.art_comment{height:200px;}*/
.post_icon{top:36px;}
.user_option_2{top:36px;}
.user_menu{width:25px;}
.user_menu:hover{width:25px;}
.share_post_btn{width:25px;}
.share_post_btn:hover{width:25px;}
.story_delete{width:25px; margin-left:5px;}
.story_delete:hover{width:25px;}
.story_edit{width:25px; margin-left:0px;}
.story_edit:hover{width:25px;}
.story_popup1{margin-left:0px; left:0; width:100%; padding:0 10px; }
.user_option_2{right:122px;}
.story_popup{position:relative;}
.avatar_btn:hover{ position:inherit;}
.avatar_btn:hover .user_name{ margin-left:0px;}



}

@media (max-width:480px) {
.article_area h1 { font-size:18px; }
.art_content { width:94%; padding:0 3%;  }
.art_user_name { font-size:17px; }
.story_popup { width: 100%; margin-top: 60px; }
.comment_text { width: 70%;}
.story_popup{ margin-left:0px; left:0px; padding:0 5px;}
/*.art_content{ height:110px;}*/
.article_user{padding-left:5px; line-height:1;}
.article_title{padding:0px 5px;}
/*.post_share{height:33px;}*/
/*.art_user_img{width:40px; height:40px;}*/
.art_tag_area{margin:0px; padding:0px;}
.story_bottom_like{padding:2px 5px 3px;}
.art_comment h1{padding:10px 0px 10px 10px;}
.comment_field{margin-bottom:10px;}
/*input[type="text"]{height:25px;}*/
.comment_area{padding:0px;}
/*.art_comment{height:200px;}*/
.post_icon{top:34px;}
.user_option_2{top:34px;}
.user_menu{width:25px;}
.user_menu:hover{width:25px;}
.share_post_btn{width:25px;}
.share_post_btn:hover{width:25px;}
.story_delete{width:25px; margin-left:5px;}
.story_delete:hover{width:25px;}
.story_edit{width:25px; margin-left:0px;}
.story_edit:hover{width:25px;}
.story_popup1{margin-left:0px; left:0; width:100%; padding:0 10px; }
.user_option_2{right:122px;}
.story_popup{position:relative;}
.story_popup_scroll .story_popup { margin-top:0; }
}


@media (min-width:310px) and (max-width:479px) {
.story_popup_scroll { height:360px; }
.story_comm_2 { float:left; }
.comments .comment_post { margin-top:0; }

}
